In [ ]:
# Instructions
# Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features. Use the data from 2005.
# Create a query to get the list of films and a boolean indicating if it was rented last month (August 2005). This would be our target variable.
# Read the data into a Pandas dataframe.
# Analyze extracted features and transform them. You may need to encode some categorical variables, or scale numerical variables.
# Create a logistic regression model to predict this variable from the cleaned data.
# Evaluate the results.

In [1]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

from getpass import getpass  # To get the password without showing the input

In [2]:
password = getpass()

········

In [19]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila' #holds all the info pymysql needs to access the database#localhost=127.0.0.1 
engine = create_engine(connection_string)
query = '''select title, rental_duration, rental_rate, length, replacement_cost, rating, category, rented_may
from(
select film_id,
case
when month(rental_date) = 5 then True
else False
end as rented_may
from rental
join inventory using(inventory_id)
join film using(film_id)
join film_category using(film_id)
join category using (category_id)
where year(rental_date) = 2005 and month(rental_date) = 5
group by film_id) t1
right join(
select rental_date, title, film_id, rental_duration, rental_rate, length, replacement_cost, rating, category.name as category
from rental
join inventory using(inventory_id)
join film using(film_id)
join film_category using(film_id)
join category using (category_id)
where year(rental_date) = 2005
group by film_id
) t2
using (film_id)
order by title asc'''

data=pd.read_sql_query(query, engine)
data.head(30)

OperationalError: (pymysql.err.OperationalError) (1055, "Expression #2 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'sakila.rental.rental_date' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")
[SQL: select title, rental_duration, rental_rate, length, replacement_cost, rating, category, rented_may
from(
select film_id,
case
when month(rental_date) = 5 then True
else False
end as rented_may
from rental
join inventory using(inventory_id)
join film using(film_id)
join film_category using(film_id)
join category using (category_id)
where year(rental_date) = 2005 and month(rental_date) = 5
group by film_id) t1
right join(
select rental_date, title, film_id, rental_duration, rental_rate, length, replacement_cost, rating, category.name as category
from rental
join inventory using(inventory_id)
join film using(film_id)
join film_category using(film_id)
join category using (category_id)
where year(rental_date) = 2005
group by film_id
) t2
using (film_id)
order by title asc]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [8]:
# drop?
data['replacement_cost'].value_counts()

22.99    1033
27.99     950
21.99     903
29.99     862
20.99     854
12.99     852
14.99     809
13.99     789
11.99     738
25.99     730
26.99     730
10.99     712
28.99     709
23.99     683
18.99     683
17.99     681
9.99      678
19.99     653
16.99     631
24.99     627
15.99     555
Name: replacement_cost, dtype: int64

In [9]:
# categorized
data['rental_duration'].value_counts()

3    3366
6    3353
4    3213
5    3132
7    2798
Name: rental_duration, dtype: int64

In [10]:
# categorized 
data['rental_rate'].value_counts()

0.99    5583
4.99    5218
2.99    5061
Name: rental_rate, dtype: int64

In [11]:
# binning movies by 0-90,90-120,180-max
data['length'].value_counts()

85     298
112    239
84     216
178    208
92     194
      ...
55      42
94      42
72      42
66      22
96      20
Name: length, Length: 140, dtype: int64

In [ ]:
# group by title and rented may yes/no
# film id already numerical
# one row per film, was it rented or not in may 
# multi